<form th:object="${articleForm}" method="post">
    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red;"></div>
    제목 : <input type="text" name="title" th:value="${article.title}" th:field="*{title}">
    <br>
    <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="color:red;"></div>
    내용 : <textarea
        name="content"
        id="" cols="30" rows="10"
        th:text="${article.content}"
        th:value="${article.content}"
        th:field="*{content}"
        ></textarea>
    <button Type="submit">등록</button>
    <button Type="submit">목록</button>
</form>
